
.feature {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
    overflow: hidden;
    margin: 0 auto;  
}


.bonjour-background {
background:url(../apply-3.jpg) no-repeat center;
    -webkit-background-size: 100% 100%; 
	background-size:100% 100% ;
	background-repeat: no-repeat;
	height:auto;
	
}
.bonjour-main {
  min-height: 26.5625em;
  position: absolute;
  bottom: 5%;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%; /* needed for Firefox */
  list-style: none;
  
  display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
   display: -moz-box;      /* OLD: Firefox (buggy) */
   display: -ms-flexbox;   /* MID: IE 10 */
   display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
   display: flex;          /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */

   -webkit-box-align: center; 
   -moz-box-align: center; /* OLD… */
   -ms-flex-align: center; /* You know the drill now… */
   -webkit-align-items: center;
   align-items: center;

   -webkit-box-pack: center; 
   -moz-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
  
  flex-direction: column;
  -webkit-flex-flow: column;
  -ms-flex-direction: column;
}


@media only screen and (max-width: 767px){

.bonjour-background {
background:url(../mobile_apply-3.jpg) no-repeat center;
    -webkit-background-size: 100% 100%; 
	background-size:100% 100% ;
	background-repeat: no-repeat;
	height:auto;
	
}

.bonjour-background {
background:url(../apply-3.jpg) no-repeat center;
    -webkit-background-size: 100% 100%; 
	background-size:100% 100% ;
	background-repeat: no-repeat;
	height:auto;
	
}
}